# Terraform state and sensitive files
**/.terraform/
**/*.tfstate
**/*.tfstate.backup
**/*.tfplan
**/.terraform.lock.hcl
**/terraform.tfvars

# Ansible sensitive files
**/*.pem
**/*.key
**/vault_pass.txt

# Logs
*.log

# OS files
.DS_Store